.header-content{
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $green-dark;
    z-index: 99;
}

.logo{
    background: url('../assets//images/ameciclo-logo.png') no-repeat 100% 100%;
    background-size: 150px;

    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}